.footer-container{
    background-color: black;
    color: var(--primary-color);
}

.information-footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15%;
}

.company-info,
.site-map,
.payment-methods{
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 140px;
}

.company-info h4{
    font-size: var(--subtitle-size);
    font-family: var(--text-font);
    padding-bottom: 10px;
}

.company-info h5{
    font-size: 1rem;
    padding-bottom: 5px;
}

.footer-link{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    margin-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.footer-link:hover{
    color: white;
    border-bottom: 1px solid white;
}

.payment-methods ul{
    list-style-type: none;
}

.payment-methods li{
    margin-bottom: 5px;
}

.copyright-footer-container{
    text-align: center;
    font-size: 1.3rem;
    border-top: 1px dotted var(--primary-color);
    padding: 10px;
}

.copyright-footer-container a{
    text-decoration: none;
    font-weight: 600;
    font-family: var(--text-font);
    color: var(--primary-color);
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.copyright-footer-container a:hover{
    color: white;
    border-bottom: 1px solid white;
}