.products-page-container{
    background-color: var(--primary-color);
    padding: 15px 10%;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2%;
}

.product-item-container{
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

}

.product-item-container img{
    width: 100%;
    border-radius: 15px;
    border-bottom: 1px solid black;
}

.product-name{
    font-size: 1.4rem;
    font-family: var(--title-font);
    text-align: center;
    padding: 5px;
}

.product-description{
    font-family: var(--text-font);
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.price-add-to-cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.product-price{
    font-size: 2rem;
    font-family: var(--title-font);
}

.product-add-button{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--primary-color);
    font-weight: 700;
    font-family: var(--link-font);
    transition: all .5s;
}

.product-add-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
