.products-page-container{
    background-color: var(--primary-color);
    padding: 15px 10%;
}

.products-filtering-container{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 5%;
}

.products-search-container input{
    width: 100%;
    margin: 20px 0px;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: 3px solid white;
}

.products-filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.products-price-range{
    border: 1px dotted black;
    display: flex;
    flex-direction: row;
    grid-gap: 15%;
    width: 450px;
    padding: 5px 20px;
    border-radius: 30px;
}

.products-price-range input{
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0px 30px 30px 0px;
    border: 2px solid white;
    padding: 3px;
}

.minimum-price{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 2%;
}

.products-sort-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-sort-container select{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 20px;
    border: 3px solid white;
    border-radius: 20px 20px 0px 0px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2%;
    margin: 30px 0px;
}

.product-item-container{
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.product-item-container img{
    width: 100%;
    border-radius: 15px;
    border-bottom: 1px solid black;
}

.product-name{
    font-size: 1.4rem;
    font-family: var(--title-font);
    text-align: center;
    padding: 5px;
}

.product-description{
    font-family: var(--text-font);
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    height: 75px;
}

.price-add-to-cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.product-price{
    font-size: 2rem;
    font-family: var(--title-font);
}

.product-add-button{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--primary-color);
    font-weight: 700;
    font-family: var(--link-font);
    transition: all .5s;
}

.product-add-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:992px){
    .products-page-container{
        padding: 10px 5%;
        height: min-content;
        padding-bottom: 250px;
    }

    .products-filtering-container{
        grid-template-columns: 1fr;
    }

    .products-search-container input{
        font-size: 1.2rem;
    }

    .products-price-range{
        flex-direction: column;
        width: 300px;
    }

    .products-sort-container select{
        width: 60%;
    }

    .products-container{
        grid-template-columns: repeat(1,1fr);
    }


}